body{
    font-family: sans-serif;
}

.container{
    margin-left: 5%;
    margin-right: 5%;
}

.common-form{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    width: 300px;
}

.form-input{
    height: 35px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid blueviolet;
    color: blueviolet;
}

.form-button {
    height: 35px;
    border: 1px solid blueviolet;
    cursor: pointer;
}

.error-p{
    color: red;
}

.success-p {
    color: green;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: black;
    border: 5px;
    border-radius: 5px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.418);
    border-radius: 5px;
}